<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="EndopointBehavior{}">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="metadataBehavior()">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="metadataBehavior()" name="WCFService_2Way_20190140096.ServiceCallback">
                <endpoint address="http://localhost:1900" binding="wsDualHttpBinding"
                    bindingConfiguration="" name="EndpointService" contract="WCFService_2Way_20190140096.IServiceCallback" />
                <endpoint address="mex" binding="basicHttpBinding" bindingConfiguration=""
                    name="EndpointMex" contract="WCFService_2Way_20190140096.IServiceCallback" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1907" />
                        <add baseAddress="http://localhost:1900" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>